{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1 class="text-3xl mb-4">Вход</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="id_username" class="block">Имя пользователя</label>
        <input type="text" name="username" id="id_username" required autofocus class="w-full p-2 bg-gray-800 text-gray-200 border border-gray-700 rounded">
    </div>
    <div class="mb-4">
        <label for="id_password" class="block">Пароль</label>
        <input type="password" name="password" id="id_password" required class="w-full p-2 bg-gray-800 text-gray-200 border border-gray-700 rounded">
    </div>
    <button type="submit" class="w-full p-2 bg-blue-600 text-gray-200 rounded">Войти</button>
</form>
{% endblock %}